In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#Store the cSV you saved created in part one into a dataframe
city_data_df=pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Fortuna,US,2020-05-29 04:20:50,40.60,-124.16,57.00,100,1,8.05
1,1,Broome,US,2020-05-29 04:21:19,42.25,-75.83,73.00,88,90,11.41
2,2,Awjilah,LY,2020-05-29 04:21:20,29.11,21.29,60.03,66,1,10.20
3,3,North Myrtle Beach,US,2020-05-29 04:17:30,33.82,-78.68,77.00,94,90,11.41
4,4,Hobart,AU,2020-05-29 04:20:18,-42.88,147.33,66.20,45,75,19.46

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [6]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [7]:
#Heatmap of temperature
#get the latitude and longitude
locations=city_data_df[['Lat','Lng']]
#Get the maximum temperature
max_temp=city_data_df['Max Temp']
#assign the figure variable
fig=gmaps.figure(center=(30.0,15.0),zoom_level=1.3)
#assign the heatmap variable
heat_layer=gmaps.heatmap_layer(locations,weights=temps, dissipating=False,
                              max_intensity=300, point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of % humidity
#get the latitude and longitude
locations=city_data_df[['Lat','Lng']]
#Get the maximum temperature
humidity=city_data_df['Humidity']
#assign the figure variable
fig=gmaps.figure(center=(30.0,15.0),zoom_level=1.3)
#assign the heatmap variable
heat_layer=gmaps.heatmap_layer(locations,weights=humidity, dissipating=False,
                              max_intensity=300, point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of % Cloudiness
#get the latitude and longitude
locations=city_data_df[['Lat','Lng']]
#Get the maximum temperature
clouds=city_data_df['Cloudiness']
#assign the figure variable
fig=gmaps.figure(center=(30.0,15.0),zoom_level=1.3)
#assign the heatmap variable
heat_layer=gmaps.heatmap_layer(locations,weights=clouds, dissipating=False,
                              max_intensity=300, point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Heatmap of Wind Speed
#get the latitude and longitude
locations=city_data_df[['Lat','Lng']]
#Get the maximum temperature
wind_speed=city_data_df['Wind Speed']
#assign the figure variable
fig=gmaps.figure(center=(30.0,15.0),zoom_level=1.3)
#assign the heatmap variable
heat_layer=gmaps.heatmap_layer(locations,weights=wind_speed, dissipating=False,
                              max_intensity=300, point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df=city_data_df.loc[(city_data_df['Max Temp']<= max_temp)&\
                                     (city_data_df['Max Temp']>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,North Myrtle Beach,US,2020-05-29 04:17:30,33.82,-78.68,77.00,94,90,11.41
12,12,Vaini,TO,2020-05-29 04:20:07,-21.20,-175.20,75.20,88,40,9.17
13,13,Ahmadpur Sial,PK,2020-05-29 04:21:21,30.68,71.75,87.80,45,40,6.93
14,14,Kieta,PG,2020-05-29 04:21:21,-6.22,155.63,84.67,70,100,2.62
15,15,Rikitea,PF,2020-05-29 04:21:21,-23.12,-134.97,75.65,85,3,10.54
27,27,Kapaa,US,2020-05-29 04:19:49,22.08,-159.32,77.00,73,90,11.41
28,28,Butaritari,KI,2020-05-29 04:21:23,3.07,172.79,83.25,77,37,10.20
32,32,Hithadhoo,MV,2020-05-29 04:20:15,-0.60,73.08,79.14,79,100,19.30
34,34,Tierralta,CO,2020-05-29 04:21:24,8.17,-76.06,76.48,84,100,2.08
35,35,Sao Jose De Ribamar,BR,2020-05-29 04:21:24,-2.56,-44.05,78.80,94,25,3.36

In [13]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df=preferred_cities_df[['City','Country','Max Temp','Lat','Lng']]
hotel_df['Hotel Name']=''
hotel_df.head(10)

C:\Users\gamad\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                   City Country  Max Temp    Lat     Lng Hotel Name
3    North Myrtle Beach      US     77.00  33.82  -78.68
12                Vaini      TO     75.20 -21.20 -175.20
13        Ahmadpur Sial      PK     87.80  30.68   71.75
14                Kieta      PG     84.67  -6.22  155.63
15              Rikitea      PF     75.65 -23.12 -134.97
27                Kapaa      US     77.00  22.08 -159.32
28           Butaritari      KI     83.25   3.07  172.79
32            Hithadhoo      MV     79.14  -0.60   73.08
34            Tierralta      CO     76.48   8.17  -76.06
35  Sao Jose De Ribamar      BR     78.80  -2.56  -44.05

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found ... skipping")

hotel_df.head(10)

C:\Users\gamad\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,North Myrtle Beach,US,77.00,33.82,-78.68,Avista Resort
12,Vaini,TO,75.20,-21.20,-175.20,Keleti Beach Resort
13,Ahmadpur Sial,PK,87.80,30.68,71.75,Khan Mobile Shop
14,Kieta,PG,84.67,-6.22,155.63,
15,Rikitea,PF,75.65,-23.12,-134.97,Pension Maro'i
27,Kapaa,US,77.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
28,Butaritari,KI,83.25,3.07,172.79,Isles Sunset Lodge
32,Hithadhoo,MV,79.14,-0.60,73.08,Scoop Guest House
34,Tierralta,CO,76.48,8.17,-76.06,montevideo
35,Sao Jose De Ribamar,BR,78.80,-2.56,-44.05,Decida Praia

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations=hotel_df[['Lat','Lng']]
#Get the maximum temperature
max_temp=hotel_df['Max Temp']
#assign the figure variable
fig=gmaps.figure(center=(30.0,15.0),zoom_level=1.3)
#assign the variables
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp, dissipating=False,
                              max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)
#add the layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations=hotel_df[['Lat','Lng']]
#Get the maximum temperature
max_temp=hotel_df['Max Temp']
#assign the figure variable
fig=gmaps.figure(center=(30.0,15.0),zoom_level=1.3)
#assign the variables
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp, dissipating=False,
                              max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]


marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
#add the layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the figure to plot
fig

Figure(layout=FigureLayout(height='420px'))